/* Move down content because we have a fixed navbar that is 50px tall */
body {
    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */


.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background: #abbaab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98vw;
    height: 14vh;
    margin-bottom: 6rem;
    font-size: 32px;
    font-weight: bolder;
    color: white;
    border-radius: 8px;
    background: #00B4DB; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;   
    gap: 2rem;
}

.search {
    width: 40rem;
    height: 4.2rem;
    border-radius: 1rem;
    padding: 10px;
    background-color: #0e7490;
    border: 1px #000;
}

.search-button {
    padding: 10px;
    background-color: #0e7490;
    border-radius: 1rem;
    border: 1px #000;
    color: #e2e8f0;
    font-weight: bold;
}

.add-user-buttom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #22c55e;
    margin: 2rem;
    color: white;
    border: none;
    padding: 8px;
    border-radius: .5rem;
    width: 20rem;
    align-items: center;
}

.divisor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    width: 80%;
    height: 0.6px;
    background-color: black;
}

.resultados {
    display: flex;
    width: 25rem;
    background-color: #6d28d9;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
    color: white;
}

.table-container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.table-header {
    background-color: #9496B2;
    border-width: 1px;
    border-color: black;
}

.table-resultados {
    background-color: #818cf8;
    padding-top: 2px;
    padding-bottom: 2px;
}

.edit-user-buttom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f59e0b;
    margin: 2rem;
    color: black;
    border: none;
    padding: 8px;
    border-radius: .5rem;
    width: 20rem;
    align-items: center;
    font-weight: bold;
}

.remove-user-buttom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e11d48;
    margin: 2rem;
    color: black;
    border: none;
    padding: 8px;
    border-radius: .5rem;
    width: 20rem;
    align-items: center;
    font-weight: bold;
}

.editar-remover {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e2e8f0;
    opacity: 1; /* Firefox */
    font-weight: bold;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.52);
}

:-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.52);
}